@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=REM&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  color: black;
}
/*
.overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-image: url('');
  background-repeat: no-repeat;
  height: 100%;
  width: 100%; 
  background-position: center;
  background-size: cover;
}
*/
.header{
  padding: 0.5rem 4.5%;
  position: fixed;
  top:0%;
  left: 0%;
  right: 0%;
  z-index: 2000;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background: #e7dacd; */
  background: white;
}

.header .logomain{
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .logo{
  height: 60px;
  width: 60px;
}

.header .logo-text{
  font-size: 28px;
  padding-left: 20px;
  font-family: 'IBM Plex Serif', serif;
  font-weight: 500;
}
.header .navbar a{
  color: black;
  font-size: 24px;
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.2s;
  margin: 0 5px;
  font-family: 'Roboto Slab', serif;
}

.header .navbar a:hover{
  color: #DA1943;
  background: transparent;
}

.navbar .btn{
  padding-inline: 2rem;
  border-radius: 1.5rem;
  margin-left: 1.1rem;
  border: 3px solid #4070F4;
  background-color: transparent;
  color: #DA1943;
  font-size: 1.3rem;
  cursor: pointer;
  border: 3px solid #DA1943;
}

.navbar .btn:hover{
  background-color: #DA1943;
  color: white;
}

#menu-btn{
  font-size: 2.5rem;
  border-radius: 0.5rem;
  background: #eee;
  color: var(--green);
  padding: 1rem 1.5rem;
  cursor: pointer;
  display: none;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 4vh;
  width: 100%;
  overflow: hidden;
  height: 97vh;
}

.banner{
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.slider{
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
}

#slideImg{
  width: 100%;
  height: 100%;
  animation: zoom 3s linear infinite;
}

 @keyframes zoom {
  0%{
    transform: scale(1.3);
  }
  15%{
    transform: scale(1);
  }
  85%{
    transform: scale(1);
  }
  100%{
    transform: scale(1.3);
  }
} 

.overlay{
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
  position: absolute;
  top: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}

.content{
  width: 60%;
  margin: 160px auto 0;
  text-align: center;
  color: white;
}

.content h1{
  font-size: 56px;
  padding-top: 5.3rem;
  color: white;
}

.content h3{
  width: 80%;
  margin: 20px auto 100px;
  font-weight: 100;
  line-height: 25px;
  color: white;
}
